<article class="panel panel-default">
    <div class="panel-body">
        {{ note.content }}
    </div>
    <footer class="panel-footer">

        <div class="time">
            
            <span>{{ note.time}}</span>
        </div>

        <div class="config">
            <a (click)="onEdit()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <span>&nbsp;&nbsp;</span>
            <a (click)="onDelete()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </div>

        <div class="button">
            <ui-switch size="small" color="#FD7013" [(ngModel)]="note.isShared" (ngModelChange)="onSharedChange()"></ui-switch>
        </div>

    </footer>
</article>
