<div class="col-md-8 col-md-offset-2 div-horizontal s-box">

    <form class="form-horizontal">
        <div class="form-group s-div">
            <label class="col-sm-3 control-label">First&nbsp;Name</label>
            <div class="col-sm-6 col-sm-offset-2">
            	<label class="control-label">first name here</label>
            </div>
        </div>
        <div class="form-group s-div">
            <label class="col-sm-3 control-label">Last&nbsp;Name</label>
            <div class="col-sm-6 col-sm-offset-2">
            	<label class="control-label">last name here</label>
            </div>
        </div>
        <div class="form-group s-div">
            <label class="col-sm-3 control-label">E-Mail</label>
            <div class="col-sm-6 col-sm-offset-2">
            	<label class="control-label">Email adress here</label>
            </div>
        </div>
        <div class="form-group s-div">			
            <div class="col-sm-12 s-buttonb" style="text-align: center;">
			    <button class="btn btn-default btn-lg" (click)="onLogout()">Logout</button>
			</div>
        </div>
    </form>
</div>