<header class="row col-md-10 col-md-offset-2" style="height: 60px;">
    <nav>
        <ul class="nav nav-tabs nav-justified s-nav">
            <li routerLinkActive="active"><a [routerLink]="['mynotes']" [queryParams]="{file:queryFile}" class="s-a" (click)="allowUseMarkdown=true;">My&nbsp;Notes <span class="badge">1</span></a></li>
            <li routerLinkActive="active"><a [routerLink]="['sharednotes']" [queryParams]="{file:queryFile}" class="s-a" (click)="allowUseMarkdown=false;">Shared&nbsp;Notes <span class="badge">9</span></a></li>

            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" class="s-a"><span class="glyphicon glyphicon-pencil"></span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a *ngIf="!showInput" (click)="onChangeShowInput()">Quick input</a></li>
                    <li><a *ngIf="showInput" (click)="onChangeShowInput()">Hide quick input</a></li>
                    <li class="divider"></li>
                    <li><a *ngIf="!useMarkdown" (click)="onChangeUseMarkdown()">Markdown Syntax</a></li>
                    <li><a *ngIf="useMarkdown" (click)="onChangeUseMarkdown()">Hide Mardown Syntax</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</header>
