<main>
	<section class="slogan">
		<div class="slogan-content">
			<h2>An online study platform</h2>
			<h1>NOTES</h1>
			<h3>Read and Take notes</h3>

			<a href="http://localhost:3000/catalog" class="button">START</a>
		</div>
		<div class="img1">
			<img src="/img/andrew-neel-308138-unsplash.jpg">
		</div>
	</section>

	<section class="intro">
		<p>An efficient way to take down notes</p>
		<br>
		<p>and harness the collective intelligence</p>
	</section>

	<section class="function1">
		<div class="func1-left">
			<figure>
				<img src="/img/update.png">
			</figure>
		</div>
		<div class="func1-content">
            <h2 class="func1-title">Upload</h2>
        </div>
	</section>

	<section class="function2">
		<div class="func2-content">
            <h2 class="func2-title">Take notes</h2>
        </div>
		<div class="func2-right">
			<figure>
				<img src="/img/takenote.png">
			</figure>
		</div>
	</section>

	</main>
